# Ignore heavy dependencies
node_modules/
frontend/node_modules/
venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc

# Ignore secrets
backend/.env
.DS_Store
dist/
.env
.env.local
frontend/.env
backend/services/__pycache__/ai_engine.cpython-311.pyc